/* Import de la fuente utilizada para la letra de la web */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reseteo de valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se aplica la fuente, el color de fondo y se alinea todo el contenido de forma centralizada en todo el body */
body {
    font-family: "Nunito", serif;
    background-color: var(--crema);
    text-align: center;
}

h1 {
    background-color: var(--rosarojo);
    color: var(--crema);
}

:root {
    --crema: #fefaec;
    --rosarojo: #F38181;
    --violetagris: #625772;
}

/* Comienzo de modificacion de estilos en el header. Tamaño de logo, alineamiento de items, se saca el subrayado de los links, se coloca un color diferente cuando se pasa el mouse por encima y se centra todo el contenido*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.Logo img {
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: var(--rosarojo);
}

/* Ajustes de tamaño a imagenes e iconos dentro de las paginas web */
.adopcion {
    border-radius: 15%;
    width: 25%;
}

.profimg {
    width: 15%;
    border-radius: 50%;
}

.Servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 30px;
}

.Servicios div {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.Servicios div.Reves {
    grid-template-columns: auto 1fr;
}

.Servicios div.Reves img {
    order:-1;
}

.Servicios div img {
    width: 100px;
}

.Servicios div span {
    display: block;
    align-items: center;
    color: var(--rosarojo);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 400px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.3); /* Fondo negro semi-transparente */
    padding: 5px; /* Agrega espacio interno para que el texto no esté pegado */
    border-radius: 25px; /* Esquinas redondeadas (opcional) */
}

/* Comienzos de modificacion de estilos en el footer. Color de fondo, tamaño de los logos y de la img de la ubicacion. Se distribuye en contenido en seciones de izquierda, derecha y centro */

footer {
    background-color: var(--violetagris);
}

.ContenidoFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    color: var(--crema);
}

.DerechosReservados {
    display: flex;
    align-items: flex-end;
    grid-column: 1/2;
    grid-row: 2/2;
    font-size: 15px;
}

.RedesSociales {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
}

.RedesSociales svg {
    width: 100%;
    height: 40%;
}

.DireccionHorario {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/3/3;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


@media (min-width: 1024px) {
    .Logo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .Logo img {
        width: 30%;
        padding-right: 20px;
    }

    #carouselExampleAutoplaying{
        width: 900px;
        margin: auto;
    }

    .nuestras-instalaciones .carousel-inner img { 
        width: 100%;
        height: 50vh; 
        object-fit: cover;
    }

    #carouselExampleCaptions {
        width: 600px; /* Ajusta el ancho del carrusel */
        margin: auto; /* Centra el carrusel */
    }
    
    .carousel-inner img {
        width: 100%;
        height: 400px; /* Ajusta la altura de las imágenes */
        object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
    }
    

    .DerechosReservados {
        font-size: 100%;
        justify-content: center;
    }

    .RedesSociales{
        align-items: center;
        justify-content: center;
    }

    .RedesSociales svg{
        width: 10%;
    }

    .DireccionHorario {
        font-size: 120%;
    }

    .Servicios {
        gap: 50px;
        margin: 40px;
    }
    
    .Servicios div {
        gap: 20px;
        width: 70%;
    }

    .Servicios div img {
        width: 150px;
    }

    .Servicios div span {
        font-size: 25px;
    }

}

@media (max-width: 1024px) {

    .navbar-collapse {
        display: block;
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: var(--crema);
        z-index: 1;
    }

}