/* Import de la fuente utilizada para la letra de la web */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reseteo de valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se aplica la fuente, el color de fondo y se alinea todo el contenido de forma centralizada en todo el body */
body {
    font-family: "Nunito", serif;
    background-color: var(--crema);
    text-align: center;
}

h1 {
    font-size: 30px;
    background-color: var(--rosarojo);
    color: var(--crema);
}

:root {
    --crema: #fefaec;
    --rosarojo: #F38181;
    --violetagris: #625772;
}

/* ESTILOS PARA LA NAVBAR */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.Logo img {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
}

.navbar .nav-link:hover {
    color: var(--rosarojo);
}

/* PEQUEÑO MARGIN PARA TODOS LOS MAIN */

main{
    margin: 2px;
}

/* ESTILOS PARA EL INDEX */

.index p strong{
    display: block;
    color: var(--rosarojo);
}

.nuestras-instalaciones{
    margin-top: 40px;
    margin-bottom: 40px;
}

.index a {
    color: var(--rosarojo);
    display: block;
    text-decoration: none;
    padding-bottom: 15px;
}

.index a:hover{
    transform: scale(1.05);
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 25px;
}

/* ESTILOS PARA LA SECCION DE SERVICIOS */

.Servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.Servicios div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Servicios div img {
    width: 100px;
}

.Servicios div span {
    display: block;
    align-items: center;
    color: var(--rosarojo);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* ESTILOS PARA LA SECCION DE FAQ */

.accordion {
    background: url(../img/adopcion/perro3.jpg) no-repeat center center/cover;
}

.accordion-button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    font-weight: bold;
}

.accordion-item {
    background: none;
}

.accordion-body {
    background-color: rgba(255, 255, 255, 0.8);
}

/* ESTILOS PARA LA SECCION DE FORMULARIO */

.MainContacto h3 {
    padding: 10px;
}

.Form {
    display: flex;
    justify-content: center;
}

.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    border-radius: 50px;
    width: 300px;
    border: 2px solid var(--violetagris);
}

.BtnEnviar {
    background-color: var(--rosarojo);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.SeccionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.BtnEnviar:hover {
    transform: translateY(-2px);
    background-color: #D96B6B;
}

input::placeholder,
textarea::placeholder {
    font-size: 14px;
}

label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    align-self: flex-start;
}

.SeccionForm input {
    border: none;
    border-bottom: 2px solid var(--rosarojo);
    background: none;
    outline: none;
    width: 180px
}

.SeccionForm textarea {
    border: none;
    border-bottom: 2px solid var(--rosarojo);
    background: none;
    outline: none;
    width: 180px;
}

/* ESTILOS PARA LA SECCION DE ADOPCION */

.ContenidoAdopcion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.ContenidoAdopcion div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ContenidoAdopcion img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.FilaAdopcion div {
    display: flex;
    margin: 10px;
    border: 1px solid var(--violetagris);
    border-radius: 10px;
    justify-content: center;
    padding-bottom: 8px;
}

.FilaAdopcion a {
    display: block;
    background-color: var(--rosarojo);
    color: white;
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.FilaAdopcion a:hover {
    transform: scale(1.02);
    background-color: #D96B6B;
}

.FilaAdopcion h3 {
    font-size: 15px;
}

/* ESTILOS PARA EL FOOTER */

footer {
    margin-top: 30px;
    background-color: var(--violetagris);
}

.ContenidoFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    color: var(--crema);
}

.DerechosReservados {
    display: flex;
    align-items: flex-end;
    grid-column: 1/2;
    grid-row: 2/2;
    font-size: 15px;
}

.RedesSociales {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
}

.RedesSociales svg {
    width: 100%;
    height: 40%;
}

.DireccionHorario {
    display: flex;
    flex-direction: column;
    grid-area: 1/2/3/3;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* ###########  MQ PARA PANTALLAS DE ESCRITORIO ###########*/

@media (min-width: 1024px) {

    /* MODIFICACION PARA EL NAVBAR */

    nav ul li {
        white-space: nowrap;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 120%;
    }

    .Logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .Logo img {
        width: 40%;
        padding-right: 20px;
    }

    /* MODIFICACION PARA EL INDEX */

    #carouselExampleAutoplaying {
        width: 900px;
        margin: auto;
    }

    .nuestras-instalaciones .carousel-inner img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    #carouselExampleCaptions {
        width: 600px;
        margin: auto;
    }

    .carousel-inner img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    /* MODIFICACION PARA EL FOOTER */

    .DerechosReservados {
        font-size: 100%;
        justify-content: center;
    }

    .RedesSociales {
        align-items: center;
        justify-content: center;
    }

    .RedesSociales svg {
        width: 10%;
    }

    .DireccionHorario {
        font-size: 120%;
    }

    /* MODIFICACION PARA LA SECCION DE SERVICIOS */

    .Servicios {
        gap: 50px;
        margin: 40px;
    }
    
    .Servicios div {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 70%;
    }
    
    .Servicios div.Reves {
        grid-template-columns: auto 1fr;
    }
    
    .Servicios div.Reves img {
        order: -1;
    }
    
    .Servicios div img {
        width: 150px;
    }
    
    .Servicios div span {
        font-size: 25px;
    }

    /* MODIFICACION PARA LA SECCION DE FORMULARIO */

    .Formulario {
        width: 350px;
    }

    .SeccionForm input {
        width: 240px
    }

    .SeccionForm textarea {
        width: 240px;
    }

    /* MODIFICACION PARA LA SECCION DE ADOPCION */

    .ContenidoAdopcion {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .ContenidoAdopcion img {
        height: 350px;
    }

    .FilaAdopcion {
        display: flex;
    }

    .FilaAdopcion div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .FilaAdopcion a {
        width: 20%;
    }

    .FilaAdopcion.ProbandoEliminar {
        display: none;
    }
}

/* MQ PARA LA NAVBAR HAMBURGUESA, PARA DISPOSITIVOS HASTA 1023px */

@media (max-width: 1023px) {

    .navbar-collapse {
        display: block;
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: var(--crema);
        z-index: 1;
    }

}