@import "general/reset";

@import "utils/variables";
@import "utils/mixin";

@import "general/estilos-generales";

@import "mq/mq-mobile.scss";

@import "mq/mq-tablet";

@import "mq/mq-desktop";

/* MQ para estilos del menu hamburguesa hasta que sea desktop */
@media (max-width: 1023px) {
	.navbar-collapse {
		display: block;
		position: absolute;
		top: 100%;
		left: 0%;
		right: 0%;
		background-color: $color-principal;
		z-index: 1;
	}
}
