/* MIXIN */

/* Mixin de grid, se pasa por parametro columnas y filas*/
@mixin grid($column, $row){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

/* Mixin de lob botones, se pasa por parametro el tamano de la fuente, el borde y el padding */
@mixin btn($font-size, $border-radius ,$padding){
    font-size: $font-size;
    border-radius: $border-radius;
    padding: $padding;
    background-color: $color-secundario;
    color: white;
    cursor: pointer;
    border: none;

    &:hover {
        transform: scale(1.02);
        background-color: #D96B6B;
    }
}

/* Mixin de estilos del formulario, no tiene parametros */
@mixin formMobile(){
    border: none;
    border-bottom: 2px solid $color-secundario;
    background: none;
    outline: none;
    width: 180px;
}

/* Mixin de Flex */ 
@mixin flex($flex-direcition, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direcition;
    align-items: $align-items;
    justify-content: $justify-content;
}

/* Mixin para imagenes con object-fit: cover, se pasa por parametro el ancho y el alto */
@mixin widthCover($width, $height){
    width: $width;
    height: $height;
    object-fit: cover;
} 